<div class="d-flex justify-content-center">
  <div class="card mt-4" style="width: 100%; max-width: 400px;">
    <div class="card-body">
      <h1 class="mb-4 text-center">Register</h1>
      <form action="/auth/register" method="POST" class="row g-3">
        <div class="col-12">
          <input
            type="text"
            name="username"
            class="form-control"
            placeholder="Username"
            required
          />
        </div>
        <div class="col-12">
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            required
          />
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>